
<!--<h1>{{'CONTACT_PAGE_HEAD' | translate}}</h1> -->

<!-- <p *ngIf="'CONTACT_PAGE_MSG'| translate" [innerHTML]="'CONTACT_PAGE_MSG'| translate"></p> -->

<h1 *ngIf="'LOGO_TEXT' | translate">{{'LOGO_TEXT' | translate}}</h1>

<p  *ngIf="'LOGO_CAPTION' | translate">{{'LOGO_CAPTION' | translate}}</p>

<address *ngIf="'ContactInfo' | translate">
{{'ContactInfo.Addr1' | translate}}, <br/> {{'ContactInfo.Addr2' | translate}}<br>
{{'ContactInfo.Postcode' | translate}}, {{'ContactInfo.City' | translate}}<br>
{{'ContactInfo.Country' | translate}}<br/><br/>


<strong *ngIf="'ContactInfo.Phone' | translate"><i class="fa fa-phone"></i>: {{'ContactInfo.Phone' | translate}}</strong><br/>
<strong *ngIf="'ContactInfo.Email' | translate"><i class="fa fa-envelope"></i> : {{'ContactInfo.Email' | translate}}</strong><br/>
<strong *ngIf="'ContactInfo.WebURL' | translate"><i class="fa fa-link"></i> : <a href="{{'Profile.PersonalData.WebURL' | translate}}" target="_BLANK">{{'ContactInfo.WebURL' | translate}}</a></strong><br/>
</address>

