
<nav *ngIf="showCookieConcent" class="container navbar-fixed-top  alert alert-danger" style="position: relative;">
    <h4 *ngIf="'cookies.Heading' | translate " [innerHTML]="'cookies.Heading' | translate"></h4>
    <div *ngIf="'COOKIE_CONSENT_MSG' | translate " [innerHTML]="'COOKIE_CONSENT_MSG' | translate"></div>
    <a class="btn btn-link btn-sm" routerLink="/page/cookies">{{'FIND_OUT_MORE' | translate}}</a>
    <button class="btn btn-sm btn-danger pull-right" (click)="closeCookieConcent()" >x</button>
</nav>



<div style="background: url('themes/theme2/img/headerBg.jpg') no-repeat;  width:100%; margin-top: 0px;padding-bottom: 10px;margin-bottom: 10px;">
<div class="container">
    <div id="topbar" class="clearfix">  <!-- Top bar  -->
        <div class="pull-right hidden-sm">
            <div class="callus">
                <div class="form-group input-group" style="padding-top:0px;">
                    <a id="btnlogon" class="btn1 btn1-success" href="/Account/LogOn">
                        <i class="fa fa-user"></i> Sign In
                    </a>&nbsp;&nbsp;&nbsp;
                    <a id="btnlogon" class="btn1 btn1-success " href="#">
                        <i class="fa fa-phone"></i> 8088-890-890
                    </a>
                </div>                        
            </div>
        </div>
    </div>  <!-- Top bar / -->



    
    <div class="row">   <!-- Header and Menu -->
        <div class="col-md-2">
            <a href="#" class="text-md-center"><img class="text-md-center img img-fluid" style="height:100px;width:100px; margin: 0 auto;" alt="{{'LOGO_TEXT' | translate}}" src="themes/theme2/img/FMGLogo1.jpg"></a>
        </div>
        <div class="col-md-10">
            <nav class="navbar navbar-light ">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
                    &#9776;
                </button>
                <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                    <ul class="nav nav-pills pull-xs-right" >
                        <li class="nav-item " routerLinkActive="active">
                            <a class="nav-link" routerLink="/home" title="{{'MENU_ITEM_HOME_TOOLTIP' | translate}}"> {{'MENU_ITEM_HOME' | translate}} </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/register/enterprise" title="{{'MENU_ITEM_ENTERPRISE_TOOLTIP' | translate}}">{{'MENU_ITEM_ENTERPRISE' | translate}} </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                             <a class="nav-link" routerLink="/partner/person" title="{{'MENU_ITEM_PARTNER_TOOLTIP' | translate}}">{{'MENU_ITEM_PARTNER' | translate}} </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                             <a class="nav-link" routerLink="/AMC" title="{{'MENU_ITEM_AMC_TOOLTIP' | translate}}">{{'MENU_ITEM_AMC' | translate}} </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div> <!-- Header and Menu / -->

</div>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>  <!-- Container / -->


<!-- Site footer -->
<footer class="footer" style="background: rgba(0, 0, 0, 0) url('themes/theme2/img/footerBg.jpg') no-repeat scroll 0 0; max-width: 100%; padding-top: 30px;" >








<div class="container" id="footerwrap" >
    
            <div class="col-md-2">
                <h4>DISCOVER</h4>
                <div class="hline-w"></div>
                <ul class="item-list">
<!--                
                    <li>
                        <a routerLink="/home" routerLinkActive="active" title="{{'MENU_ITEM_HOME_TOOLTIP' | translate}}" target="_blank"> {{'MENU_ITEM_HOME' | translate}} </a>
                    </li>
                    <li>
                        <a routerLink="/AMC" routerLinkActive="active" title="{{'MENU_ITEM_AMC_TOOLTIP' | translate}}">{{'MENU_ITEM_AMC' | translate}} </a>
                    </li>
                    <li>
                        <a routerLink="/partner/person" routerLinkActive="active" title="{{'MENU_ITEM_PARTNER_TOOLTIP' | translate}}">{{'MENU_ITEM_PARTNER2' | translate}} </a>
                    </li>
                    
                    <li>
                        <a routerLink="/register/enterprise" routerLinkActive="active" title="{{'MENU_ITEM_ENTERPRISE_TOOLTIP' | translate}}">{{'MENU_ITEM_ENTERPRISE' | translate}} </a>
                    </li>
-->                    
                    <li>
                        <a routerLink="/fmg/faq" routerLinkActive="active" title="{{'MENU_ITEM_FMG_FAQ_TOOLTIP' | translate}}">{{'MENU_ITEM_FMG_FAQ' | translate}} </a>
                    </li>
                    <li>
                        <a routerLink="/fmg/advantages" routerLinkActive="active" title="{{'MENU_ITEM_FMG_ADVANTAGE_TOOLTIP' | translate}}">{{'MENU_ITEM_FMG_ADVANTAGE' | translate}} </a>
                    </li>
                    <li>
                        <a routerLink="/fmg/about-us" routerLinkActive="active" title="{{'MENU_ITEM_ABOUT_TOOLTIP' | translate}}">{{'MENU_ITEM_ABOUT' | translate}} </a>
                    </li>
                    <li>
                        <a routerLink="/fmg/how-it-works" routerLinkActive="active" title="{{'MENU_ITEM_FMG_HOWITWORKS_TOOLTIP' | translate}}">{{'MENU_ITEM_FMG_HOWITWORKS' | translate}} </a>
                    </li>
                </ul>
                
               
            </div>
           
            <div class="col-md-2">
                <h4>MEMBERSHIP</h4>
                <div class="hline-w"></div>
                <ul>
                <li>
                    <a routerLink="/login" routerLinkActive="active"  title="{{'MENU_ITEM_LOGIN_TOOLTIP' | translate}}">{{'MENU_ITEM_LOGIN' | translate}} </a>
                </li>
                <li>
                    <a routerLink="/register/person" routerLinkActive="active"  title="{{'MENU_ITEM_REGISTER_TOOLTIP' | translate}}">{{'MENU_ITEM_REGISTER' | translate}} </a>
                </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>RESOURCES</h4>
                <div class="hline-w"></div>
                <ul>
                    <li>
                        <a routerLink="/fmg/terms-and-conditions" routerLinkActive="active" title="{{'MENU_ITEM_TERMS_TOOLTIP' | translate}}">{{'MENU_ITEM_TERMS' | translate}} </a>
                    </li>
                    <li>
                        <a routerLink="/fmg/cancellation-refund" routerLinkActive="active" title="{{'MENU_ITEM_CANCELLATION_AND_REFUND_TOOLTIP' | translate}}">{{'MENU_ITEM_CANCELLATION_AND_REFUND' | translate}} </a>
                    </li>
                    <li>
                        <a routerLink="/contact" routerLinkActive="active" title="{{'MENU_ITEM_CONTACT_TOOLTIP' | translate" >{{'MENU_ITEM_CONTACT' | translate}} </a>
                    </li>
                 </ul>
            </div>
            <div class="col-md-3">
                <h4>SOCIAL MEDIA</h4>
                <div class="hline-w"></div>
                <a href="https://www.facebook.com/fixmygadgets.in" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="https://twitter.com/fixmygadgets_" title="Twitter"><i class="fa fa-twitter-square"></i></a>
                <a href="https://www.linkedin.com/company/fix-my-gadgets-technologies-llp" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://www.instagram.com/fixmygadgets/" title="instagram" ><i class="fa fa-instagram"></i></a>
            </div>
            <div class="col-md-3">
                <h4>ADDRESS</h4>
                <div class="hline-w"></div>
                <p class="" style="color:#000000; ">
                    #807, 27th Main, 1st Sector,<br>
                    HSR Layout, Bangalore-560102<br>
                    Phone: 080 68888083<br>
                    info@fixmygadgets.in
                </p>
</div>
            


    </div>















    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <small >{{'FOOTER_TEXT' | translate}} </small>
            </div>
            
            <div class="col-md-3">
                    
                <small *ngFor="let item of langList">
                    <span *ngIf="currentLang==item.lang" >
                        <i class="fa fa-check" aria-hidden="true"></i> {{item.title}}
                    </span>
                    <span *ngIf="currentLang!=item.lang" >
                        <a (click)="onLangChange(item.lang)" style="cursor: pointer; cursor: hand; " class="">
                        {{item.title}}
                        </a>
                    </span>
                    &nbsp; &nbsp;
                </small>
                
            </div>
          
        </div>
    </div>



    </footer>












<div id="floatingShare">
    <div class="top-right">
        <a title="share with facebook" class="undefined pop-upper" href="https://www.facebook.com/fixmygadgets.in">
            <img alt="Facebook" src="themes/theme2/img/socialIcon/facebook_round.png" width="35" height="35">
        </a>
        <a title="share with twitter" class="undefined pop-upper" href="https://twitter.com/fixmygadgets_">
            <img alt="Facebook" src="themes/theme2/img/socialIcon/twitter_round.png" width="35" height="35">
        </a>
        <a title="share with linkedin" class="undefined pop-upper" href="https://www.linkedin.com/company/fix-my-gadgets-technologies-llp">
            <img alt="Facebook" src="themes/theme2/img/socialIcon/linkedin_round.png" width="35" height="35">
        </a>
        <a title="share with instagram" class="undefined pop-upper" href="https://www.instagram.com/fixmygadgets">
            <img alt="Facebook" src="themes/theme2/img/socialIcon/instagram_round.png" width="35" height="35">
        </a>
    </div>
</div>