* {
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff none repeat scroll 0 0;
    color: #1a2020;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    height: 100%;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
p {
    color: #1a2020;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 10px;
    padding: 0;
}
.h4, h4 {
    font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.h5, h5 {
    font-size: 14px;
}

.hline-w {
    border-bottom: 2px solid #000;
    margin-bottom: 25px;
}
.line{
    border-bottom: 1px solid #d1d3d4;
}


.box_2del {
    background-color: #fff;
    border: 1px solid #d3e0e9;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px 15px 15px;
    position: relative;
    
}

hr {
    border-color: #d1d3d4; -moz-use-text-color -moz-use-text-color;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
}
a, a:visited {
    color: #000;
    text-decoration: none;
}



#footerwrap p {
    color: #ffffff;
}
#footerwrap h4 {
    color: black;
}
#footerwrap i {
    color: #bfc9d3;
    font-size: 30px;
    padding-right: 25px;
}
#footerwrap i:hover {
    color: #00b3fe;
}

#footerwrap a:hover {
    color: #DCDCDC;
    text-decoration: none;
}


*::-moz-selection {
    background: #2b2e31 none repeat scroll 0 0;
    color: #fff;
    text-shadow: none;
}
ul {
    list-style-type: none;
}

.btn1 {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 1px 1px 10px 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn1-primary {
    background-color: #000000;
    border-color: #2e6da4;
    color: #fff;
}
.btn1-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #000;
}
.active {
    border-radius: 20px 1px 20px 20px;
    color: #000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}


.vdivide [class*="col-"]:not(:last-child)::after {
    background: #e0e0e0 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    margin: 10px;
    max-height: 120px;
    min-height: 70px;
    position: absolute;
    right: 0;
    top: -30px;
    width: 1px;
}