<h1>Login page </h1>

{{diagnostic}}  

{{responseDataJSON}}
<p class="alert alert-danger" *ngIf="errMessage" [innerHTML]="errMessage"></p>

<p class="alert alert-success" *ngIf="successMsg" [innerHTML]="successMsg"></p>

<form *ngIf="!submitted" (ngSubmit)="onSubmit()" #loginForm="ngForm" method="post">
	Email: <input type="email" required   [(ngModel)]="loginData.Email" name="Email"  >
	Password: <input type="password" required [(ngModel)]="loginData.Password" name="Password">
	<button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Submit</button>
</form>