
<nav *ngIf="showCookieConcent" class="container navbar-fixed-top  alert alert-danger" style="position: relative;">
    <h4 *ngIf="'cookies.Heading' | translate " [innerHTML]="'cookies.Heading' | translate"></h4>
    <div *ngIf="'COOKIE_CONSENT_MSG' | translate " [innerHTML]="'COOKIE_CONSENT_MSG' | translate"></div>
    <a class="btn btn-link btn-sm" routerLink="/page/cookies">{{'FIND_OUT_MORE' | translate}}</a>
    <button class="btn btn-sm btn-danger pull-right" (click)="closeCookieConcent()" >x</button>
</nav>



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="home">
                <img style="width:250px; " class="img-responsive " src="../images/logo.png" />
            </a>
        </div>
        <div class="col-sm-8">
            <nav class="nav nav-inline gs-menu">
                <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i> {{'MENU_ITEM_HOME' | translate}} </a>
                <a class="nav-link" routerLink="/about" routerLinkActive="active"><i class=" fa fa-th"></i> {{'MENU_ITEM_ABOUT' | translate}} </a>
                <a class="nav-link" routerLink="/gallery"  routerLinkActive="active"><i class="fa fa-image"></i>  {{'MENU_ITEM_GALLERY' | translate}}</a>
                <a class="nav-link" routerLink="/pricelist"  routerLinkActive="active"><i class="fa fa-euro"></i>  {{'MENU_ITEM_PRICELIST' | translate}}</a>
            </nav>            
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div> <!-- /container -->






<footer role="contentinfo" class="footer">
<div class="container">
<hr>
    <p class="has-warning pull-right"  style="color:#ffc6b3;"><small>{{'FOOTER_TEXT' | translate}}</small></p> 
    <nav class="nav nav-inline">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active"><i class="fa fa-phone"></i>  {{'MENU_ITEM_CONTACT' | translate}}</a>
        <a class="nav-link" routerLink="/page/cookies"  routerLinkActive="active">{{'MENU_ITEM_COOKIES' | translate}}</a>
        <a class="nav-link" routerLink="/imprint"  routerLinkActive="active">{{'MENU_ITEM_IMPRINT' | translate}}</a>
        &nbsp; &nbsp; &nbsp; &nbsp;|
        <span *ngFor="let item of langList">
            <span *ngIf="currentLang==item.lang">
                <img  class="privacy_link" src="images/{{item.flag}}"  > | 
            </span>
            <span *ngIf="currentLang!=item.lang" >
                <a (click)="onLangChange(item.lang)" style="cursor: pointer; cursor: hand;"><img  src="images/{{item.flag}}"  ></a> |
            </span>
            
        </span>

    </nav>

    
    
    
    
</div>
</footer>
